@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 400;
  src: url("../components/fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 400;
  src: url("../components/fonts/FiraSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 300;
  src: url("../components/fonts/FiraSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 300;
  src: url("../components/fonts/FiraSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 200;
  src: url("../components/fonts/FiraSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 200;
  src: url("../components/fonts/FiraSans-ExtraLightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 500;
  src: url("../components/fonts/FiraSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 500;
  src: url("../components/fonts/FiraSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 700;
  src: url("../components/fonts/FiraSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 700;
  src: url("../components/fonts/FiraSans-BoldItalic.ttf") format("truetype");
}

:root {
  --vt-c-1: #f05a32;
  --vt-c-2: rgb(241, 237, 238);
  --vt-c-2-1: #f1edee;
  --vt-c-3: #05061f;
  --vt-c-4: #034078;
}

:root {
  --color-text: var(--vt-c-3);
  --color-background: var(--vt-c-2);
  --color-card-background: var(--vt-c-2-1);
  --color-accent: var(--vt-c-1);
  --color-heading: var(--vt-c-3);
  --color-border: var(--vt-c-1);
  --color-accent-2: var(--vt-c-4);
}

:root {
  --font-1: "FiraSans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fadein {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

#app.loaded.fadein {
  opacity: 1;
}

.aos-visible {
  opacity: 1 !important;
  transform: none !important;
}
