@import "./base.css";

.main-container {
  width: 100%;
  z-index: 1;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: transparent;
}

.second-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.background-wrapper {
  position: absolute;
  width: 110vw;
  min-height: 50px;
  background-color: var(--color-text);
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.text {
  font-size: 0.95rem;
}

a {
  text-decoration: none;
  padding: 5px;
  color: var(--color-accent);
}

.vertical-divider {
  border-left: 1px solid var(--color-border);
}

.horizontal-divider {
  width: 100vw;
  position: relative;
  margin-bottom: 2rem;
  left: -1rem;
}

.hero-title {
  font-size: 3.6rem;
  color: var(--color-accent);
  font-weight: 500;
  text-align: center;
}

.hero-subtitle {
  font-size: 2.6rem;
  color: var(--color-accent);
  text-align: center;
}

.section-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-accent);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}

.container-subtitle {
  font-size: 1.8rem;
  color: var(--color-heading);
  text-align: center;
  padding-bottom: 1rem;
}

@media screen and (min-width: 576px) {
  .hero-title {
    font-size: 4.6rem;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    width: 70%;
  }

  .background-wrapper {
    height: 100px;
    left: 8rem;
    border-radius: 15px;
  }

  .text {
    font-size: 1rem;
  }

  .horizontal-divider {
    position: static;
    width: 100%;
  }

  .section-title {
    font-size: 2rem;
    position: relative;
    right: 8rem;
  }

  .section-title:before {
    height: 0.2rem;
    width: 15rem;
    background: var(--color-accent);
    content: "";
    position: relative;
    border-radius: 10px;
    margin-right: 0.5rem;
    box-shadow: 2px 3px 3px var(--color-heading);
  }
}

@media screen and (min-width: 1400px) {
  .container-subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1800px) {
  .text {
    font-size: 1.2rem;
  }

  .hero-title {
    font-size: 6rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .container-subtitle {
    font-size: 2rem;
    text-align: start;
  }
}
